<a href="https://colab.research.google.com/github/kangyoseong/DE/blob/main/211214_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10448번

삼각수 Tn(n ≥ 1)는 [그림]에서와 같이 기하학적으로 일정한 모양의 규칙을 갖는 점들의 모음으로 표현될 수 있다.



[그림]

자연수 n에 대해 n ≥ 1의 삼각수 Tn는 명백한 공식이 있다.

Tn = 1 + 2 + 3 + ... + n = n(n+1)/2

1796년, 가우스는 모든 자연수가 최대 3개의 삼각수의 합으로 표현될 수 있다고 증명하였다. 예를 들어,

4 = T1 + T2
5 = T1 + T1 + T2
6 = T2 + T2 or 6 = T3
10 = T1 + T2 + T3 or 10 = T4
이 결과는 증명을 기념하기 위해 그의 다이어리에 “Eureka! num = Δ + Δ + Δ” 라고 적은것에서 유레카 이론으로 알려졌다. 꿍은 몇몇 자연수가 정확히 3개의 삼각수의 합으로 표현될 수 있는지 궁금해졌다. 위의 예시에서, 5와 10은 정확히 3개의 삼각수의 합으로 표현될 수 있지만 4와 6은 그렇지 않다.

자연수가 주어졌을 때, 그 정수가 정확히 3개의 삼각수의 합으로 표현될 수 있는지 없는지를 판단해주는 프로그램을 만들어라. 단, 3개의 삼각수가 모두 달라야 할 필요는 없다.

In [ ]:
#내거 작동은 하는데 시간이 너무 오래걸려서 탈락 
t = int(input())
z = []
for n in range(1,46):
  n1 = int(n*(n+1)/2)
  z.append(n1)

for _ in range(t):
  k =  int(input())
  l = []
  for i in z:
    for u in z:
      for o in z:
        if i + u + o ==k:
          l.append(1)
  if len(l)==0:
    print(0)
  else:
    print(1)

In [ ]:
#위에거 수정, 미리 리스트를 다 만들어놓고 숫자만 맞추는 형태로 바꿈

t = int(input())
z = [1,3,6,10,15,21,28,36,45,55,66,78,91,105,120,136,153,171,190,210,231,253,276,300,325,351,378,406,435,465,496,528,561,595,630,666,703,741,780,820,861,903,946,990]
l = []
for i in z:
  for u in z:
    for o in z:
      if i+o+u<= 1000:
          l.append(i+o+u)

for _ in range(t):
  k = int(input())
  if k in l:
    print(1)
  else:
    print(0)

In [ ]:
#남의거

triangle = [n*(n+1)//2 for n in range(1, 46)]
eureka = [0] * 1001

#미리 1000이하의 모든 유레카 수를 구한다
for i in triangle:
    for j in triangle:
        for k in triangle:
            if i+j+k <= 1000:
                eureka[i+j+k] = 1

T = int(input())
for _ in range(T):
    print(eureka[int(input())])

10995번

예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

In [ ]:
#아예 봣음 완전 모르겠음

a = int(input())
b = a 
for i in range(a):
  if i%2==0:
    print('* '*b)
  elif i%2==1:
    print(' *'*b)

11365번

당신은 길을 가다가 이상한 쪽지를 발견했다. 그 쪽지에는 암호가 적혀 있었는데, 똑똑한 당신은 암호가 뒤집으면 해독된다는 것을 발견했다.

이 암호를 해독하는 프로그램을 작성하시오.

In [ ]:
#내거
while 1:
  n = input()
  if n=='END':
    break
  print(n[::-1])

2744번

영어 소문자와 대문자로 이루어진 단어를 입력받은 뒤, 대문자는 소문자로, 소문자는 대문자로 바꾸어 출력하는 프로그램을 작성하시오.

In [ ]:
#내거
for i in input():
  if 97 <= ord(i) <=122:
    print(i.upper(),end='')
  else:
    print(i.lower(),end='')

In [ ]:
#다른 사람거
word = list(str(input()))
answer = []

for character in word:
    if character in 'abcdefghijklmnopqrstuvwxyz':
        answer.append(character.upper())
    else:
        answer.append(character.lower())

for character in answer:
    print(character, end = '')

In [ ]:
#더 짧은 것
a = input()
print(a.swapcase())

2864번

상근이는 2863번에서 표를 너무 열심히 돌린 나머지 5와 6을 헷갈리기 시작했다.

상근이가 숫자 5를 볼 때, 5로 볼 때도 있지만, 6으로 잘못 볼 수도 있고, 6을 볼 때는, 6으로 볼 때도 있지만, 5로 잘못 볼 수도 있다.

두 수 A와 B가 주어졌을 때, 상근이는 이 두 수를 더하려고 한다. 이때, 상근이가 구할 수 있는 두 수의 가능한 합 중, 최솟값과 최댓값을 구해 출력하는 프로그램을 작성하시오.

In [ ]:
#내거
a, b = input().split()
print(int(a.replace('6','5'))+int(b.replace('6','5')), end = ' ')
print(int(a.replace('5','6'))+int(b.replace('5','6')))