<a href="https://colab.research.google.com/github/kangyoseong/DE/blob/main/211211_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1373번

2진수가 주어졌을 때, 8진수로 변환하는 프로그램을 작성하시오.

In [ ]:
#그냥 의욕없어서 가져옴

print(oct(int(input(), 2))[2:])

7567번

그릇을 바닥에 놓았을 때 그 높이는 10cm 이다. 그런데 두 개의 그릇을 같은 방향으로 포개면 그 높이는 5cm만 증가된다. 만일 그릇이 서로 반대방향으로 쌓이면 높이는 그릇만큼, 즉 10cm 늘어난다. 그릇을 괄호 기호로 나타내어 설명해보자. 편의상 그릇이 쌓여지는 방향은 왼쪽에서 오른쪽이라고 가정한다. 그림에서 ‘(’은 그릇이 바닥에 바로 놓인 상태를 나타내며, ‘)’은 그릇이 거꾸로 놓인 상태를 나타낸다.

만일 그릇이 포개진 모양이 ((((와 같다면 전체의 높이는 25cm가 된다. 왜냐하면 처음 바닥에 있는 그릇의 높이가 10cm이고 이후 같은 방향으로 3개의 그릇이 포개져 있으므로 늘어난 높이는 5+5+5=15 이기 때문이다. ()()와 같은 경우라면 그 높이는 10*4=40cm가 된다.

여러분은 입력에 주어진 모양대로 그릇을 쌓을 때 최종의 전체 그릇 높이를 계산해서 출력해야 한다. 즉 처음 입력으로 주어진 각 그릇의 방향은 바꿀 수 없다.

In [ ]:
#내가 한거
g = input()
a = g[0]
cnt = 0
for i in g:
  if i==a:
    cnt += 5
    a = i
  else:
    cnt += 10
    a = i

print(cnt+5)

In [ ]:
dish = list(str(input()))
answer = 0

for i in range(len(dish)):
    if i == 0:
        answer += 10
    elif dish[i] == dish[i-1]:
        answer += 5
    else:
        answer += 10
        
print(answer)

1075번

두 정수 N과 F가 주어진다. 지민이는 정수 N의 가장 뒤 두 자리를 적절히 바꿔서 N을 F로 나누어 떨어지게 만들려고 한다. 만약 가능한 것이 여러 가지이면, 뒤 두 자리를 가능하면 작게 만들려고 한다.

예를 들어, N=275이고, F=5이면, 답은 00이다. 200이 5로 나누어 떨어지기 때문이다. N=1021이고, F=11이면, 정답은 01인데, 1001이 11로 나누어 떨어지기 때문이다.

In [ ]:
#내거
n = input()
f = int(input())
for i in range(100):
  if i < 10:
    i = '0'+ str(i)
    l = len(n)-2
    if int(n[:l]+i)%f==0:
      print(i)
      break
  else:
    l = len(n)-2
    if int(n[:l]+str(i))%f==0:
      print(str(i))
      break

In [ ]:
n = input()
f = int(input())
a = int(n[:-2] + '00')
while True:
    if a % f == 0:
        break
    a += 1
print(str(a)[-2:])

5597번

X대학 M교수님은 프로그래밍 수업을 맡고 있다. 교실엔 학생이 30명이 있는데, 학생 명부엔 각 학생별로 1번부터 30번까지 출석번호가 붙어 있다.

교수님이 내준 특별과제를 28명이 제출했는데, 그 중에서 제출 안 한 학생 2명의 출석번호를 구하는 프로그램을 작성하시오.

In [ ]:
#다른 사람이 푼게 훨씬 좋아서 이렇게 남김
a = [i for i in range(1, 31)]

for _ in range(28):
  a.remove(int(input()))
print(min(a))
print(max(a))

2745번

B진법 수 N이 주어진다. 이 수를 10진법으로 바꿔 출력하는 프로그램을 작성하시오.

10진법을 넘어가는 진법은 숫자로 표시할 수 없는 자리가 있다. 이런 경우에는 다음과 같이 알파벳 대문자를 사용한다.

A: 10, B: 11, ..., F: 15, ..., Y: 34, Z: 35

In [ ]:
#내거
n, b =input().split( )
b = int(b)
result, cnt = 0, 0

for i in n[::-1]:
  if 65 <= ord(i) <= 90:
    i1 = ord(i)-55
    result += i1*(b**cnt)
    cnt += 1
  else:
    i2 = int(i)
    result += i2*(b**cnt)
    cnt += 1

print(result)

In [ ]:
n, b =input().split( )
n = n[::-1]
b = int(b)

table = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'

res = 0
for i in range(len(n)):
  res += table.index(n[i]) * (b**i)

print(res)